header{
    background-color: #646262; 
    text-align: center;
    color: #fff;
}

.container{
    background-color: #646262;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1rem;
}

.card{
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    display: flex;
    min-width: 250px;
    max-width: 350px;
    text-align: justify;
    padding: 2%;

}
.card img{
align-self: center;
}

.preco{
    color: red;
    font-weight: bold;
}